body {
  margin: 0;
}

.image-slider-container {
  display: flex;
  min-height: 900px;
  justify-content: center;
  align-items: center;
}

.slider-images {
  overflow: hidden;
  display: flex;
  min-width: 100%;
  min-height: 900px;
}

.slider-images > div {
  width: 100%;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-arrows {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.slider-arrows button {
  border: 0;
  font-size: 3rem;
  padding: 0 16px;
  margin: 0 32px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.navigation-container {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 10%;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
}

.navigation-dot {
  width: 32px;
  height: 16px;
  border: 3px solid white;
  border-radius: 16px;
  cursor: pointer;
}

.navigation-dot:hover {
  background-color: rgba(255, 255, 255, 0.4);
}


.navigation-dot.active {
  background-color: white;
}