body {
  margin: 0;
}

.image-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-images {
  min-width: 100%;
  overflow: hidden;
  height: 600px;
  display: flex;
}

.slider-images > div {
  width: 900px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-arrows {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.slider-arrows button {
  border: 0;
  font-size: 1.5rem;
}