.image-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-images {
  display: flex;
  overflow: hidden;
}

.slider-arrows {
  position: absolute;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.slider-arrows button {
  border: 0;
  font-size: 1.5rem;
}